{{ define "title" }}
Submit
{{ end }}

{{ define "links" }}
{{ end }}

{{ define "content" }}
<div class="relative">
    <div id="search-box"
        class="hidden absolute top-full left-0 mt-2 bg-white border border-gray-300 rounded-md shadow-lg overflow-y-auto z-10">
        <input id="search-input" type="text"
            class="block w-full px-4 py-2 text-gray-900 placeholder-gray-500 focus:outline-none focus:placeholder-gray-400 focus:ring-0 focus:border-blue-700"
            placeholder="Search...">
        <ul id="list" class="py-1">
            <li onclick="selectItem(event)" class="inset-0 py-2 px-4 hover:bg-gray-100 cursor-pointer text-black z-20"></li>
        </ul>
    </div>
</div>
<div class="form-container bg-green-500 rounded-lg shadow-lg p-8 mx-auto my-10 w-full max-w-7xl">
    <form method="POST" action="/template/create">
        <div class="mb-4">
            <label for="name" class="block text-black-700 font-bold mb-2">Name:</label>
            {{with .Form.FieldErrors.name}}
            <label class="block text-red-700 font-bold mb-2 error" for="title">
                {{.}}
            </label> 
            {{end}}
            <input type="text" name="name" id="name"
                class="w-full py-2 px-4 border border-black-300 rounded-md shadow-sm focus:outline-none focus:ring-green-500 focus:border-green-500 text-black"
                placeholder="Enter the name">
        </div>
        <div class="mb-4">
            <label for="subject" class="block text-black-700 font-bold mb-2">Subject:</label>
            <input type="text" name="subject" id="subject" onkeydown="showSearchBox(event, id)"
                class="w-full py-2 px-4 border border-black-300 rounded-md shadow-sm focus:outline-none focus:ring-green-500 focus:border-green-500 text-black"
                placeholder="Enter the template subject">
        </div>
        <div class="mb-4">
            <label for="description" class="block text-black-700 font-bold mb-2"></label>Description:</label>
            <textarea name="description" id="description" onkeydown="showSearchBox(event, id)"
                class="w-full py-2 px-4 border border-black-300 rounded-md shadow-sm focus:outline-none focus:ring-green-500 focus:border-green-500 text-black"
                placeholder="Enter your description"></textarea>
        </div>
        <div id="assessmentFieldsContainer">
            <div class="assessmentField mb-4">
                <label for="assessment-0" class="block text-black-700 font-bold mb-2">Assessment:</label>
                <textarea name="assessment" id="assessment-0" onkeydown="showSearchBox(event, id)"
                    class="w-full py-2 px-4 border border-black-300 rounded-md shadow-sm focus:outline-none focus:ring-green-500 focus:border-green-500 text-black"
                    placeholder="Enter your assessment"></textarea>
            </div>
        </div>
        <div class="mb-4">
            <label for="recommendation" class="block text-black-700 font-bold mb-2">Recommendations:</label>
            <textarea name="recommendation" id="recommendation" onkeydown="showSearchBox(event, id)"
                class="w-full py-2 px-4 border border-black-300 rounded-md shadow-sm focus:outline-none focus:ring-green-500 focus:border-green-500 text-black"
                placeholder="Enter your recommendations"></textarea>
        </div>
        <div class="flex flex-row justify-between">
            <button type="button" onclick="importLog()"
                class="py-2 px-4 bg-green-600 hover:bg-green-700 text-white font-bold rounded-md shadow-md">Import
                Log</button>
            <button type="button" onclick="extendFields()" id="extendButton"
                class="py-2 px-4 bg-green-600 hover:bg-green-700 text-white font-bold rounded-md shadow-md">Extend...</button>
            <button type="submit"
                class="py-2 px-4 bg-green-600 hover:bg-green-700 text-white font-bold rounded-md shadow-md">Submit</button>
        </div>
    </form>
    <div class="json-container">
        <br><pre id="json-viewer"></pre>
    </div>    
</div>

<script>
    let activeInputId = '';
    let previousSearchResults = [];
    let assessmentFieldCount = 1;

    function importLog() {
        fetch('/split')
            .then(response => response.json())
            .then(data => {
                // Update the JSON viewer content
                const jsonViewer = document.getElementById('json-viewer');
                jsonViewer.textContent = data.jsonData;

                data.keys.forEach(key => {
                    const listItem = document.createElement('li');
                    listItem.textContent = key;
                });

                // Update the previousSearchResults array
                previousSearchResults = data.keys;
            })
            .catch(error => console.error('Error fetching JSON data:', error));
    }

    function extendFields() {
        const assessmentField = document.createElement("div");
        assessmentField.classList.add("assessmentField", "mb-4");
        
        const labelAndRemoveButtonWrapper = document.createElement("div");
        labelAndRemoveButtonWrapper.classList.add("flex", "justify-between", "items-center");
        assessmentField.appendChild(labelAndRemoveButtonWrapper);
    
        const label = document.createElement("label");
        label.textContent = "Assessment:";
        label.htmlFor = "assessment-" + assessmentFieldCount;
        label.classList.add("block", "text-black-700", "font-bold", "mb-2");
        labelAndRemoveButtonWrapper.appendChild(label);
    
        const removeButton = document.createElement("button");
        removeButton.innerHTML = 'X';
        removeButton.type = "button";
        removeButton.classList.add("py-2", "px-3", "bg-red-600");
        removeButton.addEventListener("click", function () {
            assessmentField.remove();
        });
        labelAndRemoveButtonWrapper.appendChild(removeButton);
    
        const textarea = document.createElement("textarea");
        textarea.name = "assessment";
        textarea.id = "assessment-" + assessmentFieldCount;
        textarea.classList.add("w-full", "py-2", "px-4", "border", "border-black-300", "rounded-md", "shadow-sm", "focus:outline-none", "focus:ring-green-500", "focus:border-green-500", "text-black");
        textarea.placeholder = "Enter your assessment";
        textarea.onkeydown = function (event) {
            console.log(this.id, textarea.id)
            showSearchBox(event, this.id);
        };
        assessmentField.appendChild(textarea);
    
        document.getElementById("assessmentFieldsContainer").appendChild(assessmentField);
    
        assessmentFieldCount++;
    }

    function showSearchBox(event, id) {
        document.addEventListener('keydown', handleKeyDown);

        function handleKeyDown(event) {
            const input = document.activeElement;
            const cursorPos = input.selectionStart;
            const lastChar = input.value[cursorPos - 1];

            if (event.ctrlKey && event.key === '/') {
                event.preventDefault();
                const input = document.getElementById(id);
                activeInputId = id;
                const searchBox = document.getElementById('search-box');
                searchBox.classList.remove('hidden');

                // requestAnimationFrame is used to ensure that the search box is positioned correctly
                requestAnimationFrame(() => {
                    searchBox.style.width = input.offsetWidth + 'px';
                    searchBox.style.left = input.offsetLeft + 'px';
                    searchBox.style.top = input.offsetTop + input.offsetHeight + 'px';
                });

                const searchInput = document.getElementById('search-input');
                searchInput.focus();

                if (previousSearchResults.length > 0) {
                    const list = document.getElementById('list');
                    list.innerHTML = '';
                    previousSearchResults.forEach((result) => {
                        const listItem = document.createElement('li');
                        listItem.textContent = result;
                        listItem.classList.add('inset-0', 'py-2', 'px-4', 'hover:bg-gray-100', 'cursor-pointer', 'text-black', 'z-20');
                        listItem.onclick = selectItem;
                        list.appendChild(listItem);
                    });
                }

                searchInput.addEventListener('input', () => {
                    const filter = searchInput.value.toLowerCase();
                    const items = document.querySelectorAll('#list li');
                    items.forEach(item => {
                        if (item.textContent.toLowerCase().includes(filter)) {
                            item.classList.remove('hidden');
                        } else {
                            item.classList.add('hidden');
                        }
                    });
                });
            }

            // Show the special keys search box if the user presses the period key
            if (event.key === '.' && lastChar === '}') {
                event.preventDefault();
                const input = document.getElementById(id);
                const specialKeys = ['all', 'pretty', 'ip', 'json']
                const searchBox = document.getElementById('search-box');
                searchBox.classList.remove('hidden');
                const list = document.getElementById('list');
                list.innerHTML = ''; // Clear previous search results

                // requestAnimationFrame is used to ensure that the search box is positioned correctly
                requestAnimationFrame(() => {
                    searchBox.style.width = input.offsetWidth + 'px';
                    searchBox.style.left = input.offsetLeft + 'px';
                    searchBox.style.top = input.offsetTop + input.offsetHeight + 'px';
                });

                const searchInput = document.getElementById('search-input');
                searchInput.focus();

                specialKeys.forEach((result) => {
                    const listItem = document.createElement('li');
                    listItem.textContent = result;
                    listItem.classList.add('inset-0', 'py-2', 'px-4', 'hover:bg-gray-100', 'cursor-pointer', 'text-black', 'z-20');
                    listItem.onclick = selectSpecialItem;
                    list.appendChild(listItem);
                });
            }

            // Close the search box if the user presses the escape key
            if (event.key === 'Escape') {
                event.preventDefault();
                const searchBox = document.getElementById('search-box');
                searchBox.classList.add('hidden');
            }

            // Close the search box if the user clicks outside of it
            const searchBox = document.getElementById('search-box');
            searchBox.addEventListener('click', (event) => {
                if (event.target === searchBox) {
                    searchBox.classList.add('hidden');
                    document.removeEventListener('keydown', handleKeyDown);
                }
            });
        }

        // 1. Get the input element
        // 2. Get the cursor position
        // 3. Get the item that was clicked
        // 4. Insert the item into the input element at the cursor position
        // 5. Hide the search box
        // 6. Focus the input element
        // 7. Set the cursor position to the end of the inserted item
        function selectItem(event) {
            const input = document.getElementById(activeInputId);
            const cursorPos = input.selectionStart;
            const item = event.target.textContent.trim();
            input.value = input.value.slice(0, cursorPos) + '\{\{' + item + '\}\}' + input.value.slice(cursorPos);
            const searchBox = document.getElementById('search-box');
            searchBox.classList.add('hidden');
            input.focus();
            input.setSelectionRange(cursorPos + item.length + 4, cursorPos + item.length + 4);
        }

        function selectSpecialItem(event) {
            const input = document.getElementById(activeInputId);
            const cursorPos = input.selectionStart;
            const item = event.target.textContent.trim();
            input.value = input.value.slice(0, cursorPos) + '.' + item + input.value.slice(cursorPos);
            const searchBox = document.getElementById('search-box');
            searchBox.classList.add('hidden');
            input.focus();
            input.setSelectionRange(cursorPos + item.length + 1, cursorPos + item.length + 1);
        }
    }
</script>
{{ end}}