{{ define "title" }}
View
{{ end }}

{{ define "links" }}
{{ end }}

{{ define "content" }}
<div class="form-container bg-green-500 rounded-lg shadow-lg p-8 mx-auto my-10 w-full max-w-7xl">
    <div class="mb-4">
        <label for="name" class="block text-black-700 font-bold mb-2">Name:</label>
        <input type="text" name="name" id="name" disabled
            class="w-full py-2 px-4 border border-black-300 rounded-md shadow-sm focus:outline-none focus:ring-green-500 focus:border-green-500 text-black"
            placeholder="Enter the name" value="{{.Template.Name}}">
    </div>
    <div class="mb-4">
        <label for="subject" class="block text-black-700 font-bold mb-2">Subject:</label>
        <input type="text" name="subject" id="subject"
            class="w-full py-2 px-4 border border-black-300 rounded-md shadow-sm focus:outline-none focus:ring-green-500 focus:border-green-500 text-black"
            placeholder="Enter the template subject" value="{{.Template.Subject}}" disabled>
    </div>
    <div class="mb-4">
        <label for="description" class="block text-black-700 font-bold mb-2"></label>Description:</label>
        <div name="description" id="description" contenteditable="false"
            class="w-full py-2 px-4 border border-black-300 rounded-md shadow-sm focus:outline-none focus:ring-green-500 focus:border-green-500 text-black"
            placeholder="Enter your description">{{.Template.Description | sanitizeHTML}}</div>
    </div>
    <div id="assessmentFieldsContainer">
        <div class="assessmentField mb-4">
            <label for="assessment-0" class="block text-black-700 font-bold mb-2">Assessment:</label>
            <div name="assessment" id="assessment-0" contenteditable="false"
                class="w-full py-2 px-4 border border-black-300 rounded-md shadow-sm focus:outline-none focus:ring-green-500 focus:border-green-500 text-black"
                placeholder="Enter your assessment"></div>
        </div>
    </div>
    <div class="mb-4">
        <label for="recommendation" class="block text-black-700 font-bold mb-2">Recommendations:</label>
        <textarea name="recommendation" id="recommendation" disabled
            class="w-full py-2 px-4 border border-black-300 rounded-md shadow-sm focus:outline-none focus:ring-green-500 focus:border-green-500 text-black"
            placeholder="Enter your recommendations">{{.Template.Recommendation | sanitizeHTML}}</textarea>
    </div>
    
    {{if .Template.Query}}
        <div id="queryFieldsContainer">
            <div class="queryField mb-4">
                <label for="query-0" class="block text-black-700 font-bold mb-2">Query:</label>
                <textarea name="query" id="query-0" disabled
                    class="w-full py-2 px-4 border border-black-300 rounded-md shadow-sm focus:outline-none focus:ring-green-500 focus:border-green-500 text-black"
                    placeholder="Enter your query"></textarea>
            </div>
        </div>
    {{end}}

    <div class="flex flex-row justify-between">
        <button type="button" onclick="location.href='/template/edit/{{.Template.ID}}'"
            class="py-2 px-4 bg-green-600 hover:bg-green-700 text-white font-bold rounded-md shadow-md">Edit</button>
        <button type="button" onclick="location.href='/template/send/{{.Template.ID}}'"
            class="py-2 px-4 bg-green-600 hover:bg-green-700 text-white font-bold rounded-md shadow-md">Send</button>
        <form action="/template/delete/{{.Template.ID}}" method="post" id="deleteForm">
            <button type="submit"
                class="py-2 px-4 bg-red-600 hover:bg-red-700 text-white font-bold rounded-md shadow-md"
                onclick="return confirm('Are you sure you want to delete this template?');">Delete</button>
        </form>
    </div>
</div>

<script>
    let fieldCount = 1;

    window.assessmentLength = "{{len $.Assessment}}";
    window.assessmentValues = JSON.parse("{{sanitizeHTMLSlice $.Assessment | json}}");
    window.queryLength = "{{len $.Query}}";
    window.queryValues = JSON.parse("{{$.Query | json}}");

    window.addEventListener('DOMContentLoaded', (event) => {
        if (window.assessmentValues && window.assessmentValues.length) {
            for (let i = 0; i < window.assessmentValues.length; i++) {
                if (i === 0) {
                    document.getElementById("assessment-0").innerHTML = window.assessmentValues[0];
                    document.getElementById("query-0").textContent = window.queryValues[0];
                    console.log("Value for assessment-0:", window.assessmentValues[0]);
                } else {
                    extendAssessmentFields(window.assessmentValues[i]);
                    extendQueryFields(window.queryValues[i]);
                    fieldCount++;
                }
            }
        }
    });

    function extendAssessmentFields(initialValue = '') {
        const assessmentFieldsContainer = document.getElementById("assessmentFieldsContainer");
        if(!assessmentFieldsContainer) return;

        // Create the outer div wrapper
        const outerDiv = document.createElement("div");
        outerDiv.classList.add("assessmentField", "mb-4");

        // Create the label
        const label = document.createElement("label");
        label.textContent = "Assessment:";
        label.htmlFor = "assessment-" + fieldCount;
        label.classList.add("block", "text-black-700", "font-bold", "mb-2");

        // Create the div element for the assessment field
        const assessmentField = document.createElement("div");
        assessmentField.id = "assessment-" + fieldCount;
        assessmentField.classList.add(
            "w-full", "py-2", "px-4", "border", "border-black-300", 
            "rounded-md", "shadow-sm", "focus:outline-none", 
            "focus:ring-green-500", "focus:border-green-500", 
            "text-black"
        );
        assessmentField.setAttribute('data-group-id', fieldCount);
        assessmentField.contentEditable = 'false';
        assessmentField.innerHTML = initialValue;

        // Append label and assessmentField to the outerDiv
        outerDiv.appendChild(label);
        outerDiv.appendChild(assessmentField);

        // Append the outerDiv to the container
        assessmentFieldsContainer.appendChild(outerDiv);
        
        // Increase the field count for next time
        fieldCount++;
    }

    function extendQueryFields(initialValue = '') {
        const queryField = document.createElement("div");
        queryField.classList.add("queryField", "mb-4", "w-full", "py-2", "px-4", "border", "border-black-300", "rounded-md", "shadow-sm", "focus:outline-none", "focus:ring-green-500", "focus:border-green-500", "text-black");
        queryField.setAttribute('data-group-id', fieldCount);
        queryField.contentEditable = 'false';

        const queryLabel = document.createElement("label");
        queryLabel.textContent = "Query:";
        queryLabel.htmlFor = "query-" + fieldCount;
        queryLabel.classList.add("block", "text-black-700", "font-bold", "mb-2");

        queryField.textContent = initialValue;

        document.getElementById("queryFieldsContainer").appendChild(queryLabel);
        document.getElementById("queryFieldsContainer").appendChild(queryField);
    }
</script>
{{end}}