{{ define "content" }}
<section class="bg-gray-900 py-20">
    <div class="container mx-auto">
        <h2 class="text-4xl font-bold mb-8">Templates</h2>
        <div class="flex flex-wrap -mx-4">
            <div class="w-full md:w-1/2 px-4 mb-8">
                <div class="flex-col space-y-2">
                    {{ range $name, $templates := groupby . }}
                    <div class="flex space-x-0.5 text-sm text-neutral-400">
                        <div>
                            <details class="bg-gray-300 duration-300 w-full">
                                <summary class="bg-inherit px-5 py-3 text-lg cursor-pointer text-black">{{ $name }}
                                    (click to expand)</summary>
                                {{ range $templates }}
                                <div class="bg-white px-5 py-3 border border-gray-300 text-sm font-light">
                                    <div class="leading-1 text-[35px] text-green-600">{{ .Subject }}
                                        <a href="/edit/{{.ID}}"
                                            class="ml-2 py-2 px-4 bg-green-600 hover:bg-green-700 text-white rounded-md shadow-md inline-block text-sm">Edit</a>
                                        <a href="/send"
                                            class="ml-2 py-2 px-4 bg-green-600 hover:bg-green-700 text-white rounded-md shadow-md inline-block text-sm">Send</a>
                                    </div>
                                </div>
                                {{ end }}
                            </details>
                        </div>
                    </div>
                    {{ end }}
                </div>
            </div>
        </div>
    </div>
</section>
{{ end }}