{{ define "title" }}
Submit
{{ end }}

{{ define "links" }}
{{ end }}

{{ define "content" }}
<div class="relative">
    <div id="search-box"
        class="hidden absolute top-full left-0 mt-2 bg-white border border-gray-300 rounded-md shadow-lg overflow-y-auto z-10">
        <input id="search-input" type="text"
            class="block w-full px-4 py-2 text-gray-900 placeholder-gray-500 focus:outline-none focus:placeholder-gray-400 focus:ring-0 focus:border-blue-700"
            placeholder="Search...">
        <ul id="list" class="py-1">
            {{ range .Keys }}
            <li onclick="selectItem(event)" class="inset-0 py-2 px-4 hover:bg-gray-100 cursor-pointer text-black z-20">
                {{.}}</li>
            {{end}}
        </ul>
    </div>
</div>
<div class="flex min-w-screen z-0 relative">
    <div class="w-1/2 h-full w-full bg-black-100 p-6">
        <form method="post" action="/submit">
            <div class="mb-4">
                <label for="name" class="block text-black-700 font-bold mb-2">Name:</label>
                <input type="text" name="name" id="name" value="{{ .Template.Name }}" required="true"
                    class="w-full py-2 px-4 border border-black-300 rounded-md shadow-sm focus:outline-none focus:ring-green-500 focus:border-green-500 text-black"
                    placeholder="Enter the name">
            </div>
            <div class="mb-4">
                <label for="subject" class="block text-black-700 font-bold mb-2">Subject:</label>
                <input type="text" name="subject" id="subject" value="{{ .Template.Subject }}" required="true"
                    onkeydown="showSearchBox(event, id)"
                    class="w-full py-2 px-4 border border-black-300 rounded-md shadow-sm focus:outline-none focus:ring-green-500 focus:border-green-500 text-black"
                    placeholder="Enter the template subject">
            </div>
            <div class="mb-4">
                <label for="description" class="block text-black-700 font-bold mb-2"></label>Description:</label>
                <textarea name="description" id="description" required="true" onkeydown="showSearchBox(event, id)"
                    class="w-full py-2 px-4 border border-black-300 rounded-md shadow-sm focus:outline-none focus:ring-green-500 focus:border-green-500 text-black"
                    placeholder="Enter your description"></textarea>
            </div>
            <div class="mb-4">
                <label for="assessment" class="block text-black-700 font-bold mb-2">Assessment:</label>
                <textarea name="assessment" id="assessment" required="true" onkeydown="showSearchBox(event, id)"
                    class="w-full py-2 px-4 border border-black-300 rounded-md shadow-sm focus:outline-none focus:ring-green-500 focus:border-green-500 text-black"
                    placeholder="Enter your assessment"></textarea>
            </div>
            <div class="mb-4">
                <label for="recommendation" class="block text-black-700 font-bold mb-2">Recommendations:</label>
                <textarea name="recommendation" id="recommendation" required="true" onkeydown="showSearchBox(event, id)"
                    class="w-full py-2 px-4 border border-black-300 rounded-md shadow-sm focus:outline-none focus:ring-green-500 focus:border-green-500 text-black"
                    placeholder="Enter your recommendations"></textarea>
            </div>
            <div class="flex justify-end">
                <button type="submit"
                    class="py-2 px-4 bg-green-600 hover:bg-green-700 text-white font-bold rounded-md shadow-md">Submit</button>
            </div>
            <div class="w-1/2 h-full w-full bg-black-200 p-6">
                <pre id="json-viewer">{{ .Log }}</pre>
            </div>
        </form>
    </div>
</div>

<script type="text/javascript">
    let activeInputId = '';
    let previousSearchResults = [];

    {{ range .Keys }}
    previousSearchResults.push('{{.}}');
    {{end}}

    function showSearchBox(event, id) {
        document.addEventListener('keydown', (event) => {
            const input = document.activeElement;
            const cursorPos = input.selectionStart;
            const lastChar = input.value[cursorPos - 1];

            if (event.ctrlKey && event.key === '/') {
                event.preventDefault();
                const input = document.getElementById(id);
                activeInputId = id;
                const searchBox = document.getElementById('search-box');
                searchBox.classList.remove('hidden');
                searchBox.style.width = input.offsetWidth + 'px';
                searchBox.style.left = input.offsetLeft + 'px';
                searchBox.style.top = input.offsetTop + input.offsetHeight + 'px';
                const searchInput = document.getElementById('search-input');
                searchInput.focus();

                // Check if previous search results exist and update search box with them
                if (previousSearchResults.length > 0) {
                    const list = document.getElementById('list');
                    list.innerHTML = '';
                    previousSearchResults.forEach((result) => {
                        const listItem = document.createElement('li');
                        listItem.textContent = result;
                        listItem.classList.add('inset-0', 'py-2', 'px-4', 'hover:bg-gray-100', 'cursor-pointer', 'text-black', 'z-20');
                        listItem.onclick = selectItem;
                        list.appendChild(listItem);
                    });
                }

                searchInput.addEventListener('input', () => {
                    const filter = searchInput.value.toLowerCase();
                    const items = document.querySelectorAll('#list li');
                    items.forEach(item => {
                        if (item.textContent.toLowerCase().includes(filter)) {
                            item.classList.remove('hidden');
                        } else {
                            item.classList.add('hidden');
                        }
                    });
                });
            }

            if (event.key === '.' && lastChar === '}') {
                event.preventDefault();
                const input = document.getElementById(id);
                specialKeys = ['all', 'pretty', 'ip', 'json']
                const searchBox = document.getElementById('search-box');
                searchBox.classList.remove('hidden');
                const list = document.getElementById('list');
                list.innerHTML = ''; // Clear previous search results
                specialKeys.forEach((result) => {
                    const listItem = document.createElement('li');
                    listItem.textContent = result;
                    listItem.classList.add('inset-0', 'py-2', 'px-4', 'hover:bg-gray-100', 'cursor-pointer', 'text-black', 'z-20');
                    listItem.onclick = selectSpecialItem;
                    list.appendChild(listItem);
                });
            }

            if (event.key === 'Escape') {
                event.preventDefault();
                const searchBox = document.getElementById('search-box');
                searchBox.classList.add('hidden');
            }
        });
    }

    function selectItem(event) {
        const input = document.getElementById(activeInputId);
        const cursorPos = input.selectionStart;
        const item = event.target.textContent.trim();
        input.value = input.value.slice(0, cursorPos) + '\{\{' + item + '\}\}' + input.value.slice(cursorPos);
        const searchBox = document.getElementById('search-box');
        searchBox.classList.add('hidden');
    }

    function selectSpecialItem(event) {
        const input = document.getElementById(activeInputId);
        const cursorPos = input.selectionStart;
        const item = event.target.textContent.trim();
        input.value = input.value.slice(0, cursorPos) + '.' + item + input.value.slice(cursorPos);
        const searchBox = document.getElementById('search-box');
        searchBox.classList.add('hidden');
    }
</script>
{{ end}}