{{ define "title" }}
Submit
{{ end }}

{{ define "links" }}
{{ end }}

{{ define "content" }}
<div class="flex min-w-screen">
    <div class="w-1/2 h-full w-full bg-black-100 p-6">
        <form method="post" action="/submit">
            <div class="mb-4">
                <label for="name" class="block text-black-700 font-bold mb-2">Name:</label>
                <input type="text" name="name" id="name" required="true"
                    class="w-full py-2 px-4 border border-black-300 rounded-md shadow-sm focus:outline-none focus:ring-green-500 focus:border-green-500 text-black"
                    placeholder="Enter the name">
            </div>
            <div class="mb-4">
                <label for="subject" class="block text-black-700 font-bold mb-2">Subject:</label>
                <input type="text" name="subject" id="subject" required="true"
                    class="w-full py-2 px-4 border border-black-300 rounded-md shadow-sm focus:outline-none focus:ring-green-500 focus:border-green-500 text-black"
                    placeholder="Enter the template subject">
            </div>
            <div class="mb-4">
                <label for="description" class="block text-black-700 font-bold mb-2"></label>Description:</label>
                <textarea name="description" id="description" required="true"
                    class="w-full py-2 px-4 border border-black-300 rounded-md shadow-sm focus:outline-none focus:ring-green-500 focus:border-green-500 text-black"
                    placeholder="Enter your description"></textarea>
            </div>
            <div class="mb-4">
                <label for="assessment" class="block text-black-700 font-bold mb-2">Assessment:</label>
                <textarea name="assessment" id="assessment" required="true"
                    class="w-full py-2 px-4 border border-black-300 rounded-md shadow-sm focus:outline-none focus:ring-green-500 focus:border-green-500 text-black"
                    placeholder="Enter your assessment"></textarea>
            </div>
            <div class="mb-4">
                <label for="recommendation" class="block text-black-700 font-bold mb-2">Recommendations:</label>
                <textarea name="recommendation" id="recommendation" required="true"
                    class="w-full py-2 px-4 border border-black-300 rounded-md shadow-sm focus:outline-none focus:ring-green-500 focus:border-green-500 text-black"
                    placeholder="Enter your recommendations"></textarea>
            </div>
            <div class="flex flex-row justify-between">
                <button type="submit"
                    class="py-2 px-4 bg-green-600 hover:bg-green-700 text-white font-bold rounded-md shadow-md">Submit</button>
            </div>
        </form>
    </div>
    <div class="w-1/2 h-full w-full bg-black-200 p-6">
        <pre id="json-viewer">{{ .Log }}</pre>
    </div>
</div>
{{ end}}